@if (operation) {
<div class="operation">
    <div class="details">
        <p class="type">
            @if (operation.type === 'maintenance') {
                {{'maintenance' | label | sentenceCase}}
            }
            @else {
                {{'inspection' | label | sentenceCase}}
            }   
        </p>
        <p class="info">
            <span class="operator">{{operation.operator}}</span>
            -
            <span class="date">{{operation.date | date: 'dd/MM/yyyy'}}</span>
        </p>
    </div>
    <div class="call-to-action">
        <button type="button" class="delete-button" (click)="deleteOperation()">
            <span class="material-symbols-outlined icon delete-icon">delete</span>
        </button>
        <button type="button" class="copy-button" (click)="copyToClipboard()" [appTooltip]="'https://app.s4must.it/appLink?id=' + operation.linkId">
            <span class="material-symbols-outlined icon copy-icon">content_copy</span>
        </button>
    </div>
</div>
}