<p>{{id}}</p>
<label for="">
    Oggetto

    <div id="tech-element-tag">
        <!-- <input type="checkbox" name="cte01.01.01" id="cte01.01.01"><label for="cte01.01.01">Parete perimetrale verticale</label>
        <input type="checkbox" name="cte01.02.01" id="cte01.02.01"><label for="cte01.02.01">Balconi</label>
        <input type="checkbox" name="cte01.01.02" id="cte01.01.02"><label for="cte01.01.02">Porte e portoni</label>
        <input type="checkbox" name="cte01.01.04" id="cte01.01.04"><label for="cte01.01.04">Ringhiere e parapetti</label>
        <input type="checkbox" name="cte01.02.02" id="cte01.02.02"><label for="cte01.02.02">Cornicioni</label>
        <input type="checkbox" name="cte01.03.01" id="cte01.03.01"><label for="cte01.03.01">Impienti edificio</label>
        <input type="checkbox" name="cte01.01.03" id="cte01.01.03"><label for="cte01.01.03">Finestre</label>
        <input type="checkbox" name="cte02.01.03" id="cte02.01.03"><label for="cte02.01.03">Strutture di contenimento</label>
        <input type="checkbox" name="cte02.02.02" id="cte02.02.02"><label for="cte02.02.02">Verde pubblico</label>
        <input type="checkbox" name="cte02.03.02" id="cte02.03.02"><label for="cte02.03.02">Arredo urbano</label>
        <input type="checkbox" name="cte02.03.01" id="cte02.03.01"><label for="cte02.03.01">Impianti spazio pubblico</label>
        <input type="checkbox" name="cte02.02.01" id="cte02.02.01"><label for="cte02.02.01">Pavimentazione</label> -->

        @for (item of techElementTags; track $index) {
            <input type="checkbox" name="{{item.id}}" id="{{item.id}}"><label for="{{item.id}}">{{item.name.it}}</label>
        }
    </div>
</label>