p {
    margin: 0;
}

.operation {
    padding: 16px;
    background-color: var(--bg-default);
    border: 1px solid var(--border-default);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type {
    font-weight: 600;
    margin: 0 0 2px 0;
}

.info {
    font-size: .9rem;
}

.call-to-action {
    display: flex;
    gap: 8px;
}

button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button {
    background-color: transparent;
    border: none;
    border-radius: 100px;

    &:hover {
        background-color: var(--bg-danger-dull);
    }
}

.copy-button {
    position: relative;
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-default);
    border-radius: 4px;

    &:hover {
        border-color: var(--border-emphasis);
    }
}

.icon {
    font-size: 1.1rem;
}

.delete-icon {
    color: var(--f-danger);
}