<div class="operation">
    <div class="details">
        <p class="type">
            @switch (operation.type) {
                @case ("inspection") {
                    Ispezione
                }
                @default {
                    Intervento
                }
            }        
        </p>
        <p class="info">
            <span class="operator">{{operation.operatorName}}</span>
            -
            <span class="date">{{operation.date | date: 'dd/MM/yyyy'}}</span>
        </p>
    </div>
    <div class="call-to-action">
        <button type="button" class="delete-button" (click)="deleteOperation()">
            <span class="material-symbols-outlined icon delete-icon">delete</span>
        </button>
        <button type="button" class="copy-button" (click)="copyToClipboard()" [appTooltip]="'https://s4must.it/?linkId=' + operation.operationLink">
            <span class="material-symbols-outlined icon copy-icon">content_copy</span>
        </button>
    </div>
</div>