<div class="dialog" appClickOutside (clickedOutside)="closeDialog()" [@openClose]="isOpen ? 'open' : 'closed'">
    <form [formGroup]="createCodeForm">
        <div class="generate-code">
            <button type="button" class="generate-code-btn" (click)="generateCode()">
                <span class="material-symbols-outlined refresh-icon">refresh</span>
            </button>
            <p class="generate-code-preview">{{this.createCodeForm.get('code')?.value}}</p>
        </div>
        <div class="select-single">
            <label for="app">Scegli l'app</label>
            <select id="app" formControlName="app">
                <option value="">Seleziona un'app</option>
                @for (app of apps; track $index) {
                    <option>{{app | titlecase}}</option>
                }
            </select>
        </div>
        <div class="select-single">
            <label for="type">Scegli il tipo</label>
            <select id="type" formControlName="type">
                <option value="">Seleziona il tipo dell'app</option>
                <option value="web">Web</option>
                <option value="mobile">Mobile</option>
            </select>
        </div>
        <button type="submit" [disabled]="!createCodeForm.valid" (click)="handleSubmit()">Crea codice</button>
    </form>
</div>