p {
    margin: 0;
}

.dialog {
    // display: none;
    visibility: hidden;
    background-color: var(--bg-default);
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--border-default);
    width: 320px;
}

.visible {
    // display: block;
    visibility: visible;
    // animation: bounceIn .25s ease-in-out;
}

.generate-code {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 16px 0;
}

.generate-code-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border: 1px solid var(--border-default);
    border-radius: 4px;
    color: var(--f-default);
    background-color: var(--bg-subtle);
    margin: 0 16px 0 0;

    &:hover {
        background-color: var(--bg-subtle);
        border-color: var(--border-emphasis);
    }
}

.material-symbols-outlined {
    font-size: 1.35rem;
}

.refresh-icon {
    display: flex;
    align-items: center;
}

.generate-code-preview {
    font-weight: 600;
}

.select-single {
    margin: 0 0 16px 0;
}

.select-single label {
    display: block;
    color: var(--f-muted);
    font-size: 0.8rem;
    margin: 0 0 8px 0;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    font-size: 0.9rem;
    width: 100%;
    color: var(--f-default);
    background-color: var(--bg-default);
    border-radius: 4px;
    border: 1px solid var(--border-default);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-image: url('data:image/svg+xml;utf8,<svg fill="rgb(230, 237, 243)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    background-size: 24px;
}

button {
    cursor: pointer;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    color: var(--f-default-contrast);
    background-color: var(--bg-accent);
    width: 100%;
    padding: 8px;

    &:disabled {
        cursor: not-allowed;
        background-color: var(--bg-accent-dull);

        &:hover {
            background-color: var(--bg-accent-dull);
        }
    }

    &:hover {
        background-color: var(--bg-accent-emphasis);
    }
}

@media screen and (max-width: 576px) {
    .dialog {
        width: calc(100vw - 48px);
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0);
        transform-origin: bottom right;
    }

    80% {
        transform: scale(1.05);
        transform-origin: bottom right;
    }

    100% {
        transform: scale(1);
        transform-origin: bottom right;
    }
}

@keyframes bounceOut {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(0);
    }
}