<div class="header">
    <img src="../../../../assets/images/logo.png" alt="Logo di MUST" class="logo">
    <div class="menu">
        <ul>
            <li>
                <a routerLink="segnalazioni" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <span class="material-symbols-outlined">location_on</span>
                    Segnalazioni
                </a>
            </li>
            <li>
                <a routerLink="report">
                    <span class="material-symbols-outlined">equalizer</span>
                    Report
                </a>
            </li>
            @if (loggedUser) {
            <li (click)="showAccountMenu($event)">
                @if (loggedUser.picUrl) {
                    <img src="{{loggedUser.picUrl}}" alt="Immagine profilo" class="profile-pic" referrerpolicy="no-referrer">
                }
                @else {
                    <span class="profile-pic profile-pic-alt">{{loggedUser.displayName?.charAt(0)?.toUpperCase()}}</span>
                }
            </li>
            }
        </ul>
    </div>
</div>
<app-account-menu [loggedUser]="loggedUser" />