<div class="header">
    <a routerLink="segnalazioni">
        @if (settings && settings.assets) {
            <img [src]="settings.assets.logoUrl" class="logo">
        }
        @else {
            <img src="./assets/images/logo.png" alt="Logo di MUST" class="logo">
        }
    </a>
    <div class="menu">
        <ul>
            <li>
                <a routerLink="segnalazioni" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <span class="material-symbols-outlined">location_on</span>
                    <span class="header-label">Segnalazioni</span>
                </a>
            </li>
            <li>
                <a routerLink="report">
                    <span class="material-symbols-outlined">equalizer</span>
                    <span class="header-label">Report</span>
                </a>
            </li>
            @if (loggedUser && loggedUser.level <= 1) {
                @if (loggedUser.level === 0 || currentApp !== 'generic') {
                <li>
                    <a routerLink="archivio">
                        <span class="material-symbols-outlined">archive</span>
                        <span class="header-label">Archivio</span>
                    </a>
                </li>
                <li>
                    <a routerLink="calendario-interventi">
                        <span class="material-symbols-outlined">calendar_today</span>
                        <span class="header-label">Calendario</span>
                    </a>
                </li>
                }
            }
            <li>
                <app-theme-toggle />
            </li>
            @if (loggedUser && loggedUser.email) {
            <li (click)="showAccountMenu($event)" class="profile-pic">
                @if (loggedUser.picUrl) {
                    <img src="{{loggedUser.picUrl}}" alt="Immagine profilo" class="profile-pic" referrerpolicy="no-referrer">
                }
                @else {
                    <span class="profile-pic profile-pic-alt">{{loggedUser.displayName?.charAt(0)?.toUpperCase()}}</span>
                }
            </li>
            }
            @else {
            <li>
                <a routerLink="login">
                    <span class="material-symbols-outlined">login</span>
                    <span class="header-label">Accedi</span>
                </a>
            </li>
            }
        </ul>
    </div>
</div>
<app-account-menu [loggedUser]="loggedUser" />