.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 56px;
    background-color: var(--bg-inset);
    border-bottom: 1px solid var(--border-default);
}

.logo {
    height: 40px;
}

.menu {
    font-size: .85rem;
}

.menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}

.menu ul li a {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--f-default);
    text-decoration: none;
    padding: 4px 12px;
    border-radius: 8px;
}

.menu li a:hover {
    background-color: var(--bg-default);
}

.menu ul li a:active {
    background-color: var(--bg-default);
}

.menu ul li a .material-symbols-outlined {
    color: var(--f-muted);
    font-size: 1.4rem;
    line-height: inherit;
}

.menu ul li .profile-pic {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul li .profile-pic-alt {
    background-color: darkorchid;
}

@media screen and (max-width: 576px) {
    .header-label {
        display: none;
    }
}