<div class="header">
    <img src="../../../../assets/images/logo.png" alt="Logo di MUST" class="logo">
    <div class="menu">
        <ul>
            <li>
                <a routerLink="segnalazioni" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <span class="material-symbols-outlined">location_on</span>
                    Segnalazioni
                </a>
            </li>
            <li>
                <a routerLink="report">
                    <span class="material-symbols-outlined">equalizer</span>
                    Report
                </a>
            </li>
        </ul>
    </div>
</div>