<div class="archive">
    <h1>Archivio segnalazioni</h1>
    <div class="archive-table">
        @if (reports.length !== 0) {
        <div class="archive-table-head">
            <div class="archive-table-head-cell type-cell"><span>Status</span></div>
            <div class="archive-table-head-cell creation-time-cell"><span>Data creazione</span></div>
            @for (group of tagGroups; track $index) {
                <div class="archive-table-head-cell tag-cell"><span>{{group.name}}</span></div>
            }
            <div class="archive-table-head-cell actions-cell"><span>Dettaglio</span></div>
        </div>
        <div class="archive-table-content">
            @for (report of reports; track $index) {
            <app-archive-card [tagGroups]="tagGroups" [parentReport]="report" />
            }            
        </div>
        }
        @else {
            <p class="empty-msg">Non sono presenti segnalazioni archiviate</p>
        }
    </div>
</div>