<div class="page">
    <h1>Elenco codici</h1>
    @if (apps.length !== 0) {
    <app-codes-filters [codes]="codes" [apps]="apps"/>
    }
    <div class="codes-section">
        @for (code of codes; track $index) {
            <app-auth-code [code]="code" />
        }
        @if (codes.length === 0) {
            <p class="not-found-msg">Non è stato trovato alcun codice</p>
        }
    </div>
    <button type="button" class="add-code-btn" (click)="toggleDialog($event)">
        <span class="material-symbols-outlined add-icon" [ngClass]="{'rotate': isDialogOpen}">add</span>
    </button>
    @if (apps.length !== 0) {
    <app-create-code [apps]="apps" />
    }
</div>