<h1>Privacy Policy</h1>
<h2>Informativa ai sensi degli artt. 13 e ss. Reg. UE n. 679/2016 (GDPR)</h2>
<p>Ai sensi e per gli effetti degli artt. 13 e ss. del Reg. UE 679/2016 (GDPR), la ETT S.P.A con sede, via Sestri 37,
    16154 Genova, in qualità di Titolare del trattamento, informa gli utenti delle finalità e modalità del trattamento
    dei dati personali raccolti nel rispetto della normativa sopra citata e degli obblighi di riservatezza.</p>

<h2>Categoria dei dati raccolti</h2>
<p>Il titolare tratterà o potrà trattare i seguenti dati personali:</p>
<ol class="letter-list">
    <li>indirizzo email e password;</li>
    <li>nome, cognome;</li>
    <li>account google;</li>
    <li>dati acquisiti automaticamente durante l'utilizzo dell'applicazione Must (dati sulla posizione geografica
        dell'utente).</li>
</ol>

<h2>Finalità del trattamento e base giuridica del trattamento</h2>
<p>
    In adempimento agli obblighi previsti dalla normativa vigente, La informiamo che i dati personali da Lei conferiti
    tramite l'App MUST (Maintenance Urban Sharing Tool) verranno utilizzati per effettuare l'accesso all'applicativo e
    consentire la gestione delle segnalazioni inoltrate al Titolare riferite ai danni e alle anomalie prestazionali
    riscontrate sulle superfici degli edifici sul funzionamento degli impianti e sugli elementi dell'arredo urbano del
    centro di Napoli, connettendo in rete una banca dati dei processi di guasto.
</p>
<p>
    L'App, previo Suo specifico consenso, potrà trattare i dati relativi alla localizzazione del Suo dispositivo allo
    specifico fine di consentirLe di indicare la posizione esatta della Sua segnalazione e per il tempo necessario a
    chiudere la segnalazione stessa.
</p>

<p>
    Il Trattamento dei dati può avere come base giuridica:
</p>
<ul>
    <li>il perseguimento di un legittimo interesse del Titolare; </li>
    <li>il consenso da Lei espresso. </li>
</ul>

<h2>Natura del conferimento e tipologia di dati trattati</h2>
<p>
    Il conferimento dei dati è effettuato dall'Interessato mediante l'installazione dell'App MUST (Maintenance Urban
    Sharing Tool), servizio partecipativo di manutenzione e gestione del patrimonio costruito.
</p>
<p>
    Il conferimento dei dati è volontario e facoltativo, in caso di mancata comunicazione degli stessi non sarà
    possibile procedere con il trattamento per le finalità indicate.
</p>

<h2> Modalità di trattamento</h2>
<p>

    I dati personali sono raccolti, con l'ausilio di strumenti elettronici o comunque automatizzati, secondo le modalità
    e con i mezzi idonei a garantire la sicurezza e la riservatezza dei dati stessi. In particolare, sono osservate
    specifiche misure tecniche, organizzative e procedurali di sicurezza, in modo che sia garantito il livello adeguato
    di protezione dei dati, per prevenire la perdita degli stessi, gli usi illeciti o non corretti ed accessi non
    autorizzati.
</p>
<p>
    I dati sono trattati esclusivamente da personale incaricato del trattamento, secondo i principi di correttezza,
    liceità, trasparenza, pertinenza e non eccedenza rispetto alle finalità di raccolta e di successivo trattamento e
    non sono comunicati, se non per gli obblighi di legge, né diffusi al di fuori della Società predetta.
</p>

<h2> Comunicazione e diffusione dei dati</h2>
<p>

    I dati raccolti non saranno diffusi, venduti o scambiati con soggetti terzi senza il consenso espresso
    dell'interessato, salvo eventuali comunicazioni a soggetti terzi autorizzati, impiegati alla riservatezza o nel caso
    nominati responsabili del trattamento ex art. 28 del Regolamento UE 2016/679 (quali società operanti nel settore
    informatico, di assistenza informatica, fornitori esterni) ove necessarie per le finalità di cui alla presente
    informativa. L'elenco completo dei responsabili è comunque disponibile presso la sede dell'azienda e per reperirlo è
    sufficiente rivolgersi al Titolare sopra indicato.
</p>

<h2> Rifiuto di conferimento dei dati</h2>
<p>
    L'eventuale rifiuto di conferire dati personali comporta l'impossibilità di effettuare la segnalazione di guasti e
    anomalie prestazionali riscontrate sulle superfici degli edifici.
</p>

<h2>Periodo di conservazione</h2>
<p>
    I Suoi dati personali saranno trattati per il tempo strettamente indispensabile al perseguimento delle sopra
    indicate finalità, trascorso il quale saranno cancellati o resi anonimi. In ogni caso l'utente potrà decidere di
    disiscriversi al servizio inviando una mail a <a href="mailto:support@mustsrl.com">support&#64;mustsrl.com</a>.
</p>

<h2>Diritti dell'Interessato</h2>
<p>
    Agli interessati sono riconosciuti i diritti di cui agli articoli 15 e ss. del citato Regolamento ed in particolare
    il diritto di chiedere al responsabile del trattamento l'accesso ai dati personali la rettifica o la cancellazione
    degli stessi o la limitazione del trattamento dei dati personali che lo riguardano, nonché di opporsi al loro
    trattamento, oltre al diritto alla portabilità dei dati. L'esercizio di tali diritti potrà essere esperito scrivendo
    a ETT S.p.A all'indirizzo <a href="mailto:privacy@grupposcai.it">privacy&#64;grupposcai.it</a>.
</p>

<h2> Revoca del consenso</h2>
La informiamo che potrà revocare in qualunque momento il consenso fornito per il trattamento specifico di alcuni dei
Suoi dati per i quali Le è stato richiesto rivolgendosi a ETT S.p.A all'indirizzo <a
    href="mailto:privacy@grupposcai.it">privacy&#64;grupposcai.it</a>.

<h2> Reclamo</h2>
<p>
    In ogni caso è fatto salvo il diritto dell'interessato di proporre reclamo all'Autorità di Controllo in materia di
    privacy, qualora ne sussistano i presupposti ed in caso di violazioni.
</p>