<form [formGroup]="filterForm">
    <div class="checkbox-single">
        <input type="checkbox" id="maintenance-checkbox" formControlName="maintenance">
        <label for="maintenance-checkbox" class="checkbox-single-label">Manutenzioni</label>
    </div>
    <div class="checkbox-single">
        <input type="checkbox" id="inspection-checkbox" formControlName="inspection">
        <label for="inspection-checkbox" class="checkbox-single-label">Ispezioni</label>
    </div>
    <div class="checkbox-single">
        <input type="checkbox" id="other-checkbox" formControlName="other">
        <label for="other-checkbox" class="checkbox-single-label">Pubbliche</label>
    </div>
</form>