<div class="menu" [ngClass]="{'visible': isVisible}" appClickOutside (clickedOutside)="closeAccountMenu()">
    <ul>
        <li class="display-name">{{loggedUser?.displayName}}</li>
        @for (app of loggedUser?.apps; track $index) {
            <li>{{app | titlecase}}</li>
        }
        @if (loggedUser?.level === 0) {
            <li><a routerLink="admin-dashboard">Dashboard</a></li>
        }
        <li (click)="logOut()">
            Esci
            <span class="material-symbols-outlined logout-icon">logout</span>
        </li>
    </ul>
</div>