<div class="menu" [ngClass]="{'visible': isVisible}" appClickOutside (clickedOutside)="closeAccountMenu()">
    <div class="list-section">
        <div class="list-element display-name">
            <p class="list-text">{{loggedUser?.displayName}}</p>
        </div>
    </div>
    <div class="list-section">
        <p class="section-title">LE MIE APP</p>
        @for (app of loggedUser?.apps; track $index) {
        <div class="list-element" [ngClass]="{'current-app': app === loggedUser?.lastApp}">
            <a class="list-text" routerLink="segnalazioni" (click)="reloadApp(app)">
                @if (app === 'default') {
                    Pubblica
                }
                @else {
                    {{app | titlecase}}
                }
            </a>
        </div>
        }
    </div>
    <div class="list-section">
        <div class="list-element">
            <a class="list-text" routerLink="use-code">Usa codice</a>
        </div>
        @if (loggedUser?.level === 0) {
        <div class="list-element">
            <a class="list-text" routerLink="admin-dashboard">Dashboard</a>
        </div>
        }
    </div>
    <div class="list-section">
        <div class="list-element icon-element" (click)="logOut()">
            <p class="list-text">Esci</p>
            <span class="material-symbols-outlined logout-icon">logout</span>
        </div>
    </div>
</div>