<div class="logo-section">
    <img class="logo" src="../../../assets/images/logo.png" alt="MUST logo">
</div>
<h1>User Data Policy</h1>
<h2>Italiano</h2>
<p>Se hai effettuato la registrazione all'applicazione MUST e desideri cancellare i tuoi dati, puoi
    richiedere
    l'eliminazione dell'account direttamente all'interno dell'app. In alternativa, puoi richiedere la
    cancellazione scrivendo a questo indirizzo: <a
        href="mailto:support@ettsolutions.com">support&#64;ettsolutions.com</a>. Assicurati di specificare
    il
    nome
    dell'applicazione per cui stai effettuando la richiesta (MUST). Le segnalazioni che hai effettuato
    verranno
    disassociate in maniera permanente dal tuo account.</p>

<h2>English</h2>
<p>If you have registered for the MUST app and wish to delete your information, you can request deletion of
    your
    account directly within the app. Alternatively, you can request deletion by writing to this address:
    <a href="mailto:support@ettsolutions.com">support&#64;ettsolutions.com</a>. Be sure to specify the name
    of
    the app for which you are making the request (MUST).
    The reports you have made will be permanently deassociated from your account.
</p>