:host {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    box-sizing: border-box;
    color: var(--f-danger);
    border: 1px solid var(--border-danger-dull);
    border-radius: 4px;
    margin: 8px 0;
}

.alert-icon-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-message {
    margin: 0;
    font-size: .8rem;
}

.alert-icon {
    font-size: 1.25rem;
}