<div class="page">
    <div class="column first-column">
        <div class="header">
            <h2>Dettagli segnalazione</h2>
            <div class="img-container">
                <img src="{{parentReport.coverImgUrls}}" alt="Immagine della segnalazione">
            </div>
        </div>
        <div class="report-details">
            <div class="info">
                <p class="info-title">Prima segnalazione</p>
                <p class="info-value">{{parentReport.creationTime | date: 'dd/MM/yyyy'}} -
                    h:{{parentReport.creationTime| date: 'HH:mm'}}</p>
            </div>

            <div class="info">
                <p class="info-title">Ultimo aggiornamento</p>
                <p class="info-value">{{parentReport.lastChildTime | date: 'dd/MM/yyyy'}} -
                    h:{{parentReport.lastChildTime| date: 'HH:mm'}}</p>
            </div>

            <div class="info">
                <p class="info-title">Priorità</p>
                @switch (parentReport.priority) {
                @case ("high") {
                <p class="info-value priority high">Alta</p>
                }
                @case ("medium") {
                <p class="info-value priority medium">Media</p>
                }
                @case ("low") {
                <p class="info-value priority low">Bassa</p>
                }
                @default {
                <p class="info-value priority not-assigned">Non assegnata</p>
                }

                }
            </div>

            <div class="info">
                <p class="info-title">Oggetto</p>
                <div class="info-value-list">
                    @for (tag of parentReport.fields.tagTechElement; track $index; let last = $last) {
                    <p class="info-value" [ngClass]="{'comma': !last}">{{$any(tag).name.it}}</p>
                    }
                </div>
            </div>

            <div class="info">
                <p class="info-title">Elemento tecnico</p>
                <div class="info-value-list">
                    @for (tag of parentReport.fields.subTagTechElement; track $index; let last = $last) {
                    <p class="info-value" [ngClass]="{'comma': !last}">{{$any(tag).name.it}}</p>
                    }
                </div>
            </div>

            <div class="info">
                <p class="info-title">Segnali di guasto</p>
                <div class="info-value-list">
                    @if (reportFailureTags.length === 0) {
                    <p class="info-value">-</p>
                    }
                    @else {
                    @for (tag of reportFailureTags; track $index; let last = $last) {
                    <p class="info-value" [ngClass]="{'comma': !last}">{{tag.name.it}}</p>
                    }
                    }
                </div>
            </div>

            <div class="info">
                <p class="info-title">Modalità di guasto</p>
                <div class="info-value-list">
                    @if (reportFailureSubTags.length === 0) {
                    <p class="info-value">-</p>
                    }
                    @else {
                        @for (tag of reportFailureSubTags; track $index; let last = $last) {
                        <p class="info-value" [ngClass]="{'comma': !last}">{{tag.name.it}}</p>
                        }
                    }
                </div>
            </div>
        </div>
        @if (miniMapData) {
        <div class="map-wrapper">
            <app-mini-map [miniMapData]="miniMapData" />
        </div>
        }
    </div>
    <div class="column second-column">
        <h2>Aggiornamenti</h2>
        <div class="children-report">
            @for (report of childrenReport; track $index) {
            <app-child-report-card [childReport]="report" [parentReport]="parentReport" />
            }
        </div>
    </div>
    <div class="column third-column">
        <h2>Scheda validazione</h2>
        <app-validation-form [techElementTags]="techElementTags" [failureTags]="failureTags"
            [parentReport]="parentReport" [childrenReport]="childrenReport" />
    </div>
    <div class="column fourth-column">
        <h2>Ispezioni ed interventi</h2>
        <app-inspection-form [parentReport]="parentReport" />

        @if (parentReport.operations.length === 0) {
        <p>Nessun intervento creato</p>
        }
        @else {
        <div class="operations">
            @for (operation of parentReport.operations; track $index) {
            <app-operation-card [parentReport]="parentReport" [operation]="operation" />
            }
        </div>
        }
    </div>
</div>