<div class="page">
    <div class="column first-column">
        <h2>Dettagli segnalazione</h2>
        <div class="img-container">
            <img src="{{parentReport.coverImgUrls}}" alt="Immagine della segnalazione">
        </div>
        <div class="report-details">
            <div class="info">
                <p class="info-title">Prima segnalazione</p>
                <p class="info-value">{{parentReport.creationTime | date: 'dd/MM/yyyy'}} - h. {{parentReport.creationTime| date: 'HH:mm'}}</p>
            </div>

            <div class="info">
                <p class="info-title">Ultimo aggiornamento</p>
                <p class="info-value">{{parentReport.lastChildTime | date: 'dd/MM/yyyy'}} - h. {{parentReport.lastChildTime| date: 'HH:mm'}}</p>
            </div>

            <div class="info">
                <p class="info-title">Oggetto</p>
                <div class="info-value-list">
                @for (tag of parentReport.fields.tagTechElement; track $index; let last = $last) {
                    <p class="info-value" [ngClass]="{'comma': !last}">{{$any(tag).name.it}}</p>
                }
                </div>
            </div>

            <div class="info">
                <p class="info-title">Elemento tecnico</p>
                <div class="info-value-list">
                    @for (tag of parentReport.fields.subTagTechElement; track $index; let last = $last) {
                        <p class="info-value" [ngClass]="{'comma': !last}">{{$any(tag).name.it}}</p>
                    }
                </div>
            </div>

            <div class="info">
                <p class="info-title">Segnale di guasto</p>
                <div class="info-value-list">
                    @for (tag of reportFailureTags; track $index; let last = $last) {
                        <p class="info-value" [ngClass]="{'comma': !last}">{{tag.name.it}}</p>
                    }
                </div>
            </div>

            <div class="info">
                <p class="info-title">Modo di guasto</p>
                <div class="info-value-list">
                    @for (tag of reportFailureSubTags; track $index; let last = $last) {
                        <p class="info-value" [ngClass]="{'comma': !last}">{{tag.name.it}}</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="column second-column">
        <h2>Aggiornamenti</h2>
        <div class="children-report">
            @for (report of childrenReport; track $index) {
            <div class="img-container" style="margin-bottom: 40px;">
                <img src="{{report.detailPics}}">
            </div>
            }
        </div>
    </div>
    <div class="column third-column">
        <h2>Scheda validazione</h2>
        <app-validation-form [techElementTags]="techElementTags" [failureTags]="failureTags"
            [parentReport]="parentReport" [childrenReport]="childrenReport" />
    </div>
    <div class="column fourth-column">
        <h2>Segnalazioni ed interventi</h2>
    </div>
</div>