p {
    margin: 0;
}

.code-card {
    background-color: var(--bg-default);
    border: 1px solid var(--border-default);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.code {
    color: var(--f-default);
    margin: 0 0 4px 0;
}

.app {
    color: var(--f-muted);
    font-size: .9rem;
}

.isNoMoreValid {
    background-color: var(--bg-danger-dull);
    border-color: var(--bg-danger);
}

button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-button {
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-default);
    border-radius: 4px;

    &:hover {
        border-color: var(--border-emphasis);
    }

    &:disabled {
        cursor: not-allowed;

        &:hover {
            border-color: var(--border-default);
        }
    }
}

.icon {
    font-size: 1.1rem;
}