<div class="card" (click)="openDialog()">
    <div class="img-container">
        <img src={{report.coverImgUrls[0]}}>
    </div>
    <div class="card-body">
        <span class="info">Oggetto: </span>
        @for (techTag of report.fields.tagTechElement; track $index; let last = $last) {
        <span class="info-title" [ngClass]="{'comma': !last}">{{$any(techTag).name.it}}</span>
        }
        <p class="date">{{report.creationTime | date: 'dd/MM/yyy'}} - h:{{report.creationTime | date: 'HH:mm'}}</p>
    </div>
</div>