.card {
    cursor: pointer;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: contain;
}

.tech-tags {
    font-size: .9rem;
}

.tech-tags-title {
    font-weight: 600;
}

.comma::after {
    content: ', ';
}