<div class="card" (click)="openDialog()">
    <div class="img-container">
        <img src={{report.coverImgUrls[0]}}>
    </div>
    <div class="card-body">
        @if (report.tags && report.tags.parent[0]) {
            <span class="info">{{report.tags.parent[0].name}}: </span>
            @for (tag of report.tags.parent[0].elements; track tag.id; let last = $last) {
                <span class="info-title" [ngClass]="{'comma': !last}">{{tag.name}}</span>
            }
        }
        <p class="date">{{report.creationTime | date: 'dd/MM/yyy'}} - h:{{report.creationTime | date: 'HH:mm'}}</p>
    </div>
</div>