<div class="page">
    <div class="login-form">
        <h1>Effettua il login per continuare</h1>
        <form [formGroup]="loginForm">
            <div class="input-single input-email">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Inserisci la tua email" formControlName="email">
            </div>
            <div class="input-single input-password">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Inserisci la tua password" formControlName="password">
            </div>
            <button type="submit" class="submit" [disabled]="!loginForm.valid" (click)="handleSubmit()">Login</button>
        </form>
        <div class="divider">
            <div class="hr"></div>
            <p>oppure continua con</p>
            <div class="hr"></div>
        </div>
        <button type="button" class="google" (click)="loginWithGoogle()">
            <img src="./assets/icons/google_pictogram.svg" alt="Google icon">
            <span>Continua con Google</span>
        </button>
        <p class="signup">Non hai un account? <a routerLink="/signup">Registrati</a></p> 
    </div>
</div>