<form [formGroup]="baseForm" id="validation-form" (ngSubmit)="handleSubmit()">

    @for (baseControl of baseForm.controls | keyvalue; track $index) {
        @if(baseControl.key !== 'priority' && $any(baseControl).value.customType === 'parent') {
            <div class="dropdown" [formGroupName]="baseControl.key">
                <button type="button" class="dropdown-toggle" (click)="toggleDropdown(content)">
                    {{baseControl.key | controlLabel}}
                    <span class="material-symbols-outlined expand-more">expand_more</span>
                </button>
                <div class="form-group form-tech-element-tags dropdown-content" style="display: none;" #content>
                    @for (control of $any(baseControl.value).controls | keyvalue; track $index) {
                        @if($any(control.value).enabled) {
                            <div class="checkbox-single">
                                <label [for]="control.key" class="checkbox-single-label">
                                    <input type="checkbox" [id]="control.key" [formControlName]="$any(control.key)">
                                    <span class="checkmark"></span>
                                    {{$any(control.key) | controlLabel}}
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }

    @for (baseControl of baseForm.controls | keyvalue; track $index) {
        @if(baseControl.key !== 'priority' && $any(baseControl).value.customType === 'child') {
            <div class="dropdown" [formGroupName]="baseControl.key" [ngClass]="{'dropdown-disabled': checkControls(baseControl.key)}">
                <button type="button" class="dropdown-toggle" [disabled]="checkControls(baseControl.key)" (click)="toggleDropdown(content)">
                    {{baseControl.key | controlLabel}}
                    <span class="material-symbols-outlined expand-more">expand_more</span>
                </button>
                <div class="form-group form-tech-element-tags dropdown-content" style="display: none;" #content>
                    @for (control of $any(baseControl.value).controls | keyvalue; track $index) {
                        @if($any(control.value).enabled) {
                            <div class="checkbox-single">
                                <label [for]="control.key" class="checkbox-single-label">
                                    <input type="checkbox" [id]="control.key" [formControlName]="$any(control.key)">
                                    <span class="checkmark"></span>
                                    {{$any(control.key) | controlLabel}}
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }

    <h3 class="priority-title">Priorità</h3>
    <div class="form-group radio-buttons" formGroupName="priority">
        <div class="radio-single">
            <input type="radio" id="low" value="low" name="priority" formControlName="priority">
            <label class="radio-single-label low" for="low">Bassa</label>
        </div>
        <div class="radio-single">
            <input type="radio" id="medium" value="medium" name="priority" formControlName="priority">
            <label class="radio-single-label medium" for="medium">Media</label>
        </div>
        <div class="radio-single">
            <input type="radio" id="high" value="high" name="priority" formControlName="priority">
            <label class="radio-single-label high" for="high">Alta</label>
        </div>
    </div>
    <button type="submit" [disabled]="!baseForm.valid">Salva modifiche</button>
</form>