@if (validationForm) {
<form [formGroup]="validationForm" (ngSubmit)="handleSubmit()">

    <div class="dropdown">
        <button type="button" class="dropdown-toggle" (click)="toggleTechElementTagsForm()" [ngClass]="{'dropdown-toggle-open': isTechElementTagsFormOpen}">
            Oggetto
            <span class="material-symbols-outlined expand-more" [ngClass]="{'expand-more-open': isTechElementTagsFormOpen}">expand_more</span>
        </button>
        @if (techElementTagsForm) {
        <div class="form-group form-tech-element-tags dropdown-content" [ngClass]="{'dropdown-open': isTechElementTagsFormOpen}" formGroupName="techElementTagsForm">
            <div class="dropdown-content-header">
                <h3>Oggetto</h3>
                <span class="material-symbols-outlined close" (click)="closeTechElementTagsForm()">close</span>
            </div>
            <div class="dropdown-content-list">
                @for (tag of _techElementTags; track tag.id) {
                <div class="checkbox-single">
                    <label for="{{tag.id}}" class="checkbox-single-label">
                        <input type="checkbox" id="{{tag.id}}" [formControlName]="tag.id">
                        <span class="checkmark"></span>
                        {{tag.id}} - {{tag.name.it}}
                    </label>
                </div>
                }
            </div>
        </div>
        }
    </div>

    <div class="dropdown">
        <button type="button" class="dropdown-toggle" (click)="toggleTechElementSubTagsForm()" [ngClass]="{'dropdown-toggle-open': isTechElementSubTagsFormOpen}" [disabled]="_reportTechElementSubTags.length === 0">
            Elemento tecnico
            <span class="material-symbols-outlined expand-more" [ngClass]="{'expand-more-open': isTechElementSubTagsFormOpen}">expand_more</span>
        </button>
        @if (techElementSubTagsForm) {
        <div class="form-group form-tech-element-subtags dropdown-content" [ngClass]="{'dropdown-open': isTechElementSubTagsFormOpen}" formGroupName="techElementSubTagsForm">
            <div class="dropdown-content-header">
                <h3>Elemento tecnico</h3>
                <span class="material-symbols-outlined close" (click)="closeTechElementSubTagsForm()">close</span>
            </div>
            <div class="dropdown-content-list">
                @for (subTag of _reportTechElementSubTags; track subTag.id) {
                <div class="checkbox-single">
                    <label for="{{subTag.id}}" class="checkbox-single-label">
                        <input type="checkbox" id="{{subTag.id}}" [formControlName]="subTag.id">
                        <span class="checkmark"></span>
                        {{subTag.id}} - {{subTag.name.it}}
                    </label>
                </div>
                }
            </div>
        </div>
        }
    </div>

    <!-- <p>Segnale di guasto</p>
    @if (failureTagsForm) {
    <div class="form-group" formGroupName="failureTagsForm">
        @for (failureTag of _failureTags; track failureTag.id) {
        <div class="checkbox-single">
            <input type="checkbox" id="{{failureTag.id}}" [formControlName]="failureTag.id">
            <label for="{{failureTag.id}}">{{failureTag.name.it}}</label>
        </div>
        }
    </div>
    } -->

    <h3 class="priority-title">Priorità</h3>
    @if (priorityForm) {
    <div class="form-group radio-buttons" formGroupName="priorityForm">
        <div class="radio-single">
            <input type="radio" id="low" value="low" name="priority" formControlName="priority">
            <label class="radio-single-label" for="low">Bassa</label>
        </div>
        <div class="radio-single">
            <input type="radio" id="medium" value="medium" name="priority" formControlName="priority">
            <label class="radio-single-label" for="medium">Media</label>
        </div>
        <div class="radio-single">
            <input type="radio" id="high" value="high" name="priority" formControlName="priority">
            <label class="radio-single-label" for="high">Alta</label>
        </div>
    </div>
    }
    <button type="submit" [disabled]="!validationForm.valid">Salva modifiche</button>
</form>
}