// form {
//     background-color: var(--bg-default);
//     border: 1px solid var(--border-default);
//     border-radius: 8px;
//     padding: 24px;
// }

.dropdown {
    position: relative;
    display: block;
}

.dropdown-toggle {
    cursor: pointer;
    font-size: .9rem;
    width: 100%;
    color: var(--f-default);
    background-color: var(--bg-subtle);
    border-radius: 4px;
    border: 1px solid var(--border-subtle);
    padding: 4px 16px;
}

.dropdown-content {
    display: none;
    color: var(--f-default);
    background-color: var(--bg-subtle);
    border-radius: 4px;
    border: 1px solid var(--border-subtle);
    padding: 16px;
    position: absolute;
    z-index: 9999;
    width: 100%;
    box-sizing: border-box;
}

.dropdown-open {
    display: block;
}