.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 57px);
    padding: 0 4%;
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 320px;
}

.input-code {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin: 0 0 16px 0;
}

input {
    font-family: 'Noto Sans', sans-serif;
    border: none;
    height: 40px;
    width: 100%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-default);
    font-size: 1rem;
    background-color: var(--bg-default);
    border-radius: 4px;
    
    &:focus {
        background-color: var(--bg-subtle);
        border-radius: 4px;
        outline: none;
        outline-style: solid;
        outline-width: 1px;
        outline-color: var(--border-emphasis);
    }
}

.paste-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    transform: translateY(-50%);
}

.material-symbols-outlined {
    font-size: 1.25rem;
}

button[type="submit"] {
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-size: .9rem;
    border: none;
    border-radius: 4px;
    color: var(--f-default-contrast);
    background-color: var(--bg-accent);
    width: 100%;
    padding: 12px;

    &:hover {
        background-color: var(--bg-accent-emphasis);
    }
}

button[type="submit"]:disabled {
    cursor: not-allowed;
    background-color: var(--bg-accent-dull);
}

@media screen and (max-width: 576px) {
    form {
        max-width: 576px;
    }
}