:host {
    display: block;
    min-height: calc(100% - 57px);
    background-color: var(--bg-inset);
}

h2 {
    margin: 0;
}

.empty-msg {
    text-align: center;
    padding: 40px;
}

.charts-section {
    display: flex;
    gap: 2%;
    padding: 40px;
    flex-wrap: wrap;
}

.chart-wrapper {
    width: 49%;
    margin: 0 0 2% 0;
    padding: 24px;
    background-color: var(--bg-default);
    border: 1px solid var(--border-default);
    border-radius: 8px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .charts-section {
        padding: 24px;
        gap: 0;
    }

    .chart-wrapper {
        width: 100%;
        margin: 0 0 24px 0;
    }
}

::ng-deep g.highcharts-axis-labels text {
    fill: var(--f-muted) !important;
}

::ng-deep g.highcharts-axis path.highcharts-tick {
    stroke: var(--border-default) !important;
}

::ng-deep g.path.highcharts-axis-line {
    stroke: var(--border-default) !important;
}

::ng-deep g.highcharts-grid path {
    stroke: var(--border-default) !important;
}

::ng-deep .highcharts-background {
    fill: var(--bg-default) !important;
}

::ng-deep path.highcharts-point {
    stroke: var(--bg-default) !important;
}

::ng-deep g.highcharts-legend-item text {
    fill: var(--f-default) !important;
}

::ng-deep g.highcharts-label text {
    fill: var(--f-default) !important;
    font-weight: 400 !important;
}

::ng-deep g.highcharts-label .highcharts-text-outline {
    stroke-width: 0 !important;
}

::ng-deep g.highcharts-label text tspan {
    font-weight: normal !important;
}

::ng-deep g.highcharts-breadcrumbs-group text {
    fill: var(--f-default) !important;
}

::ng-deep g.highcharts-label.highcharts-tooltip text {
    fill: rgb(31, 35, 40) !important;
}