<div class="charts-section">
    @if (reportsNumPerTimeSerie.length !== 0) {
    <div class="chart-wrapper">
        <h2 class="chart-title">Segnalazioni totali</h2>
        <app-time-chart [firstSerie]="reportsNumPerTimeSerie" />
    </div>
    }

    <!-- @if (interventionAndInspectionPerTimeSerie.inspections.length !== 0 && interventionAndInspectionPerTimeSerie.interventions.length !== 0) {
        <div class="chart-wrapper">
            <h2 class="chart-title">Ispezioni ed interventi</h2>
        </div>
    } -->

    @if (reportsNumPerPrioritySerie.length !== 0) {
    <div class="chart-wrapper">
        <h2 class="chart-title">Segnalazioni per priorità</h2>
        <app-pie-chart [serie]="reportsNumPerPrioritySerie"/>
    </div>
    }
</div>