@if (parentReports.length === 0) {
<div>
    <p class="empty-msg">Impossibile generare report senza segnalazioni</p>
</div>
}

<div class="charts-section">
    @if (reportsNumPerTimeSerie.data && reportsNumPerTimeSerie.data.length > 0) {
    <div class="chart-wrapper">
        <h2 class="chart-title">Segnalazioni totali</h2>
        <app-time-chart [firstSerie]="reportsNumPerTimeSerie" />
    </div>
    }

    @if (inspectionsPerTimeSerie.data && inspectionsPerTimeSerie.data.length !== 0 || interventionsPerTimeSerie.data &&
    interventionsPerTimeSerie.data.length !== 0) {
    <div class="chart-wrapper">
        <h2 class="chart-title">Ispezioni ed interventi</h2>
        <app-time-chart [firstSerie]="inspectionsPerTimeSerie" [secondSerie]="interventionsPerTimeSerie" />
    </div>
    }

    @if (reportsNumPerPrioritySerie.data && reportsNumPerPrioritySerie.data.length !== 0) {
    <div class="chart-wrapper">
        <h2 class="chart-title">Segnalazioni per priorità</h2>
        <app-pie-chart [series]="[reportsNumPerPrioritySerie]" />
    </div>
    }

    @if (parentFlowTagsNumSeries.length !== 0) {
        @for (series of parentFlowTagsNumSeries; track $index) {
            <div class="chart-wrapper">
                <h2>{{series.name}}</h2>
                <app-pie-chart [series]="[series]" [drilldown]="parentFlowTagsNumDrilldownSeries" />
            </div>
        }
    }

    @if (childFlowTagsNumSeries.length !== 0) {
        @for (series of childFlowTagsNumSeries; track $index) {
            <div class="chart-wrapper">
                <h2>{{series.name}}</h2>
                <app-pie-chart [series]="[series]" [drilldown]="childFlowTagsNumDrilldownSeries" />
            </div>
        }
    }
</div>