<div class="charts-section">
    @if (reportsNumPerTimeSerie.data?.length !== 0) {
    <div class="chart-wrapper">
        <h2 class="chart-title">Segnalazioni totali</h2>
        <app-time-chart [firstSerie]="reportsNumPerTimeSerie" />
    </div>
    }

    @if (inspectionsPerTimeSerie.data?.length !== 0 && interventionsPerTimeSerie.data?.length !== 0) {
        <div class="chart-wrapper">
            <h2 class="chart-title">Ispezioni ed interventi</h2>
        </div>
    }

    @if (reportsNumPerPrioritySerie.data?.length !== 0) {
    <div class="chart-wrapper">
        <h2 class="chart-title">Segnalazioni per priorità</h2>
        <app-pie-chart [serie]="reportsNumPerPrioritySerie"/>
    </div>
    }
</div>