.dialog {
    position: absolute;
    top: 72px;
    right: -384px;
    width: 384px;
    z-index: 9999;
    background-color: var(--bg-default);
    color: var(--f-default);
    transition: .2s ease-in-out;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid var(--border-default);
    border-radius: 4px;
}