<div class="archive-table-row">
    <div class="archive-table-row-cell type-cell">
        <div class="icon-wrapper">
            <span class="material-symbols-outlined status-icon">
                @if (parentReport.closingChildId) {check_circle}
                @else {inventory_2}
            </span>
        </div>
    </div>
    <div class="archive-table-row-cell creation-time-cell"><span>{{parentReport.creationTime | date: 'dd/MM/yyyy'}}</span></div>
    <div class="archive-table-row-cell tech-element-tags-cell" appHoverTooltip [data]="parentReport.fields.parentFlowTags1">
        @for (tag of parentReport.fields.parentFlowTags1; track $index; let last = $last) {
            <span [ngClass]="{'comma': !last}">{{tag.name}}</span>
        }
        @if (parentReport.fields.parentFlowTags1.length === 0) {
            <span>-</span>
        }
    </div>
    <div class="archive-table-row-cell tech-element-subtags-cell" appHoverTooltip [data]="parentReport.fields.parentFlowTags2">
        @for (tag of parentReport.fields.parentFlowTags2; track $index; let last = $last) {
            <span [ngClass]="{'comma': !last}">{{tag.name}}</span>
        }
        @if (parentReport.fields.parentFlowTags2.length === 0) {
            <span>-</span>
        }
    </div>
    <div class="archive-table-row-cell failure-tags-cell" appHoverTooltip [data]="childFlowTags1">
        @for (tag of childFlowTags1; track $index; let last = $last) {
        <span [ngClass]="{'comma': !last}">{{tag.name}}</span>
        }
        @if (childFlowTags1.length === 0) {
            <span>-</span>
        }
    </div>
    <div class="archive-table-row-cell failure-subtags-cell" appHoverTooltip [data]="childFlowTags2">
        @for (tag of childFlowTags2; track $index; let last = $last) {
        <span [ngClass]="{'comma': !last}">{{tag.name}}</span>
        }
        @if (childFlowTags2.length === 0) {
            <span>-</span>
        }
    </div>
    <div class="archive-table-row-cell actions-cell">
        <button type="button" class="detail-button" (click)="navigateTo(parentReport.id)">
            <span class="material-symbols-outlined detail-icon">navigate_next</span>
        </button>
    </div>
</div>