<div class="archive-table-row">
    <div class="archive-table-row-cell type-cell">
        <div class="icon-wrapper">
            <span class="material-symbols-outlined status-icon">
                @if (parentReport.closingChildId) {check_circle}
                @else {inventory_2}
            </span>
        </div>
    </div>
    <div class="archive-table-row-cell creation-time-cell">
        <span class="info-value-mobile-label">Data creazione: </span>
        <span>{{parentReport.creationTime | date: 'dd/MM/yyyy'}}</span>
    </div>
    @for (group of tagGroups; track $index) {
        <div class="archive-table-row-cell tag-cell">
            <span class="info-value-mobile-label">{{group.name}}: </span>
            @if (hasMatchingField(group.id) && getTags(group.id).length !== 0) {
                @for (tag of getTags(group.id); track $index; let last = $last) {
                    <p class="info-value" [ngClass]="{'comma': !last}">{{tag | controlLabel}}</p>
                }
            }
            @else if (hasChildrenMatchingFields(group.id) && getChildrenTags(group.id).length !== 0) {
                @for (tag of getChildrenTags(group.id); track $index; let last = $last) {
                    <p class="info-value" [ngClass]="{'comma': !last}">{{tag | controlLabel}}</p>
                }
            }
            @else {
                <p class="info-value">-</p>
            }
        </div>
    }
    <div class="archive-table-row-cell actions-cell">
        <button type="button" class="detail-button" (click)="navigateTo(parentReport.id)">
            <span class="material-symbols-outlined detail-icon">navigate_next</span>
        </button>
    </div>
</div>