:host {
    display: block;
    height: 100%;
}

.map-container {
    height: 100%;
}

.map-frame {
    height: 100%;
}

#map {
    height: 100%;
}

::ng-deep a.leaflet-control-zoom-in,
::ng-deep a.leaflet-control-zoom-out {
    background-color: var(--bg-default);
    color: var(--f-muted);
    border: 1px solid var(--border-subtle);

    &:hover {
        background-color: var(--bg-default);
    }
}