<div class="card" #card>
    <div class="img-container">
        @if (childReport.fields.foto_dettaglio && childReport.fields.foto_dettaglio.length !== 0) {
            <img src="{{childReport.fields.foto_dettaglio[0]}}" alt="Immagine del report">
        }
        @if (childReport.fields.intervention_photo && childReport.fields.intervention_photo.length !== 0) {
            <img src="{{childReport.fields.intervention_photo[0]}}" alt="Immagine del report">
        }
        @if (childReport.fields.photo_detail && childReport.fields.photo_detail.length !== 0) {
            <img src="{{childReport.fields.photo_detail[0]}}" alt="Immagine del report">
        }

        @if (childReport.flowId === 'maintenance' || childReport.flowId === 'inspectionHorizontal' || childReport.flowId === 'inspectionVertical') {
            <div class="icon-wrapper">
                @if (childReport.isClosed) {
                    <span class="material-symbols-outlined verified-icon">check_circle</span>
                }
                @else {
                    <span class="material-symbols-outlined verified-icon">check</span>
                }
            </div>
        }
    </div>
    <div class="card-body">
        <div class="card-details">
            @for (group of childTagGroups; track $index) {
                <div class="info">
                    <span class="info-title">{{group.name}}: </span>
                    @if (hasMatchfingField(group.id)) {
                        @for (tag of getTags(group.id); track $index; let last = $last) {
                            <span class="info-value" [ngClass]="{'comma': !last}">{{tag | controlLabel | sentenceCase}}</span>
                        }
                    }
                    @else {
                        <p class="info-value">-</p>
                    }
                </div>
            }

            <div class="info">
                <span class="info-title">Note:</span>                
                <span class="info-value">
                    @if (childReport.fields.comment && childReport.fields.length !== 0) {
                        {{childReport.fields.comment}}
                    }
                    @else {
                        -
                    }
                </span>
            </div>
        </div>

        <div class="card-footer">
            <p class="date">{{childReport.creationTime | date: 'dd/MM/yyyy'}} - h:{{childReport.creationTime | date: 'HH:mm'}}</p>
            @if (showDeleteBtn && parentReport.childrenIds.length > 1) {
                @if (loggedUser && (loggedUser.level === 0 || loggedUser.level === 1)) {
                <div class="icon-wrapper" (click)="iconClick()">
                    <span class="material-symbols-outlined delete">delete</span>
                </div>
                }
            }
        </div>
    </div>
</div>