<div class="card" #card>
    <div class="img-container">
        @if (childReport.fields.foto_dettaglio && childReport.fields.foto_dettaglio.length !== 0) {
            <img src="{{childReport.fields.foto_dettaglio[0]}}" alt="Immagine del report">
        }
        @if (childReport.fields.intervention_photo && childReport.fields.intervention_photo.length !== 0) {
            <img src="{{childReport.fields.intervention_photo[0]}}" alt="Immagine del report">
        }

        @if (childReport.flowId === 'maintenance' || childReport.flowId === 'inspectionHorizontal' || childReport.flowId === 'inspectionVertical') {
            <div class="icon-wrapper">
                @if (childReport.isClosed) {
                    <span class="material-symbols-outlined verified-icon">check_circle</span>
                }
                @else {
                    <span class="material-symbols-outlined verified-icon">check</span>
                }
            </div>
        }
    </div>
    <div class="card-body">
        @if (childReport.tags && childReport.tags.length > 0) {
        <div class="card-details">
            @for (tagGroup of childReport.tags; track tagGroup.id) {
                <div class="info">
                    <span class="info-title">{{tagGroup.name}}: </span>
                    @for (tag of tagGroup.elements; track tag.id; let last = $last) {
                        <span class="info-value" [ngClass]="{'comma': !last}">{{tag.name.toLowerCase()}}</span>
                    }
                </div>
            }
        </div>
        }
        <div class="card-footer">
            <p class="date">{{childReport.creationTime | date: 'dd/MM/yyyy'}} - h:{{childReport.creationTime | date: 'HH:mm'}}</p>
            @if (showDeleteBtn && parentReport.childrenIds.length > 1) {
                @if (loggedUser && (loggedUser.level === 0 || loggedUser.level === 1)) {
                <div class="icon-wrapper" (click)="iconClick()">
                    <span class="material-symbols-outlined delete">delete</span>
                </div>
                }
            }
        </div>
    </div>
</div>