<form [formGroup]="inspectionForm" (ngSubmit)="handleSubmit()">
    <input type="text" formControlName="operator" placeholder="Nome e cognome operatore">
    <input min="{{today.toISOString().split('T')[0]}}" type="date" formControlName="date">
    <h3 class="type-title">Tipologia</h3>
    <div class="form-group radio-buttons">
        <div class="radio-single">
            <input type="radio" id="inspection" value="inspection" formControlName="type">
            <label class="radio-single-label" for="inspection">Ispezione</label>
        </div>
        <div class="radio-single">
            <input type="radio" id="maintenance" value="maintenance" formControlName="type">
            <label class="radio-single-label" for="maintenance">Intervento</label>
        </div>
    </div>
    <button type="submit" [disabled]="!inspectionForm.valid">Crea</button>
</form>