p {
    margin: 0;
}

.code-card {
    background-color: var(--bg-default);
    border: 1px solid var(--border-default);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.code {
    color: var(--f-default);
    margin: 0 0 4px 0;
}

.app {
    margin: 0 0 4px 0;
}

.secondary-text {
    color: var(--f-muted);
    font-size: .9rem;
}

.validity {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.check-icon,
.stop-icon {
    font-size: 1rem;
    margin: 0 4px 0 0;
}

.validity-icon {
    height: 16px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stop-icon {
    color: var(--f-danger);
}

.email {
    margin: 0 4px 0 0;
    font-style: italic;
    font-weight: 600;
}

.is-associated {
    background-color: var(--bg-done-dull);
    border-color: var(--bg-done);
}

.is-associated .email,
.is-associated .stop-icon {
    color: var(--f-done);
}

.is-disabled {
    background-color: var(--bg-danger-dull);
    border-color: var(--bg-danger);
}

.is-disabled .email,
.is-disabled .stop-icon {
    color: var(--f-danger);
}

button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-button {
    position: relative;
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-default);
    border-radius: 4px;

    &:hover {
        border-color: var(--border-emphasis);
    }

    &:disabled {
        cursor: not-allowed;

        &:hover {
            border-color: var(--border-default);
        }
    }
}

.icon {
    font-size: 1.1rem;
}