:root {
    font-size: 14px;
    color-scheme: only dark;

    --f-default: rgb(230, 237, 243);
    --f-muted: rgb(125, 133, 144);
    --f-subtle: rgb(110, 118, 129);

    --f-accent: rgb(47, 129, 247);
    --f-success: rgb(63, 185, 80);
    --f-attention: rgb(210, 153, 34);
    --f-severe: rgb(219, 109, 40);
    --f-danger: rgb(248, 81, 73);
    --f-done: rgb(163, 113, 247);
    --f-other: rgb(219, 97, 162);

    --bg-inset: rgb(1, 4, 9);
    --bg-default: rgb(13, 17, 23);
    --bg-overlay: rgb(22, 27, 34);
    --bg-subtle: rgb(39, 45, 52);
    --bg-emphasis: rgb(110, 118, 129);

    --bg-accent-dull: rgb(18, 29, 47);
    --bg-accent: rgb(31, 111, 235);
    --bg-accent-emphasis: rgb(48, 123, 235);
    --bg-success-dull: rgb(18, 38, 30);
    --bg-success: rgb(35, 134, 54);
    --bg-success-emphasis: rgb(46, 160, 67);
    --bg-attention-dull: rgb(39, 33, 21);
    --bg-attention: rgb(158, 106, 3);
    --bg-attention-emphasis: rgb(196, 130, 0);
    --bg-severe-dull: rgb(34, 26, 25);
    --bg-severe-emphasis: rgb(189, 86, 29);
    --bg-danger-dull: rgb(37, 23, 28);
    --bg-danger: rgb(218, 54, 51);
    --bg-danger-emphasis: rgb(248, 81, 73);
    --bg-done-dull: rgb(56, 50, 110);
    --bg-done: rgb(137, 87, 229);
    --bg-done-emphasis: rgb(168, 128, 241);
    --bg-other-dull: rgb(34, 25, 38);
    --bg-other-emphasis: rgb(191, 75, 138);

    --border-default: rgb(48, 54, 61);
    --border-subtle: rgba(240, 246, 252, 0.1);
    --border-muted: rgb(33, 38, 45);
    --border-emphasis: rgb(139, 148, 158);
    --border-success-dull: rgba(46, 160, 67, .4);
    --border-danger-dull: rgba(248, 81, 73, .4);
}

body,
html {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--bg-inset);
    scrollbar-width: thin;
    scrollbar-color: var(--bg-subtle) var(--bg-default);
    // overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: .9rem;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    line-height: 0;
}

.img-container {
    position: relative;
    width: 100%;
    padding: 0 0 56.25% 0;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--bg-inset);
    border: 1px solid var(--border-default);
    box-sizing: border-box;
}

.img-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: contain;
}

.card .img-container {
    border-radius: 8px 8px 0 0;
    border-bottom: none;
}

.card .card-body {
    // font-size: 0.9rem;
    border: 1px solid var(--border-default);
    padding: 16px;
    border-radius: 0 0 8px 8px;
    background-color: var(--bg-default);
}

.card .card-body .info {
    // font-weight: 600;
    margin: 0 0 4px 0;
    color: var(--f-subtle);
}

.card .card-body .info:last-child {
    margin: 0;
}

.card .card-body .info .info-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 2px 0;
}

.card .card-body .info .info-value {
    font-size: 1rem;
    display: inline;
    font-weight: 400;
    color: var(--f-default);
    margin: 0;
}

.card .card-body .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0 0 0;
}

.card .card-body .card-footer .icon-wrapper {
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: absolute;
    right: 8px;
    bottom: 8px;

    &:hover {
        background-color: var(--bg-danger-dull);
    }
}

.card .card-body .card-footer .icon-wrapper .delete {
    color: var(--f-danger);
    font-size: 1.1rem;
}

.card .card-body .card-footer .date {
    font-size: .9rem;
    font-style: italic;
    margin: 0;
    color: var(--f-default);
}

.tooltip {
    width: max-content;
    background-color: var(--bg-subtle);
    padding: 8px;
    border-radius: 4px;
}