<div class="filters">
    <form [formGroup]="filterForm">
        <div class="select-single">
            <label for="appId">TEST</label>
            <select id="appId" formControlName="vertId">
                <option value="all">Tutti</option>
                @for (app of apps; track $index) {
                    <option>{{app | titlecase}}</option>
                }
            </select>
        </div>
        <div class="select-single">
            <label for="appType">Tipologia app</label>
            <select id="appType" formControlName="appType">
                <option value="all">Tutti</option>
                <option value="web">Web</option>
                <option value="mobile">Mobile</option>
            </select>
        </div>
        <div class="select-single">
            <label for="isValid">Validità</label>
            <select id="isValid" formControlName="isValid">
                <option value="all">Tutti</option>
                <option value="false">Non ancora utilizzato</option>
                <option value="true">Codice utilizzato</option>
            </select>
        </div>
    </form>
</div>