<form [formGroup]="filterForm">
    <div class="select-single">
        <label for="operation-type">Operazione</label>
        <select id="operation-type" formControlName="type">
            <option value="all">Tutti</option>
            <option value="inspection">Ispezione</option>
            <option value="maintenance">Manutenzione</option>
        </select>
    </div>
    <div class="date-single">
        <label class="date-selection-title">Data iniziale</label>
        <input type="date" min="2018-01-01" formControlName="initialDate">
    </div>
    <div class="date-single">
        <label class="date-selection-title">Data finale</label>
        <input type="date" min="2018-01-01" formControlName="endingDate">
    </div>
</form>