.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    height: 100%;
    z-index: 99999;
}

.backdrop-overlay {
    width:100%;
    height: 100%;
    background-color: var(--black-50);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    font-size: .9rem;
    color: var(--white-100);
    width: 60%;
    height: 80%;
    background-color: var(--black-90);
    border-radius: 8px;

}

.columns {
    height: 100%;
    padding: 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.columns::-webkit-scrollbar {
    width: 6px;
}

.columns::-webkit-scrollbar-thumb {
    background: var(--grey-100);
    border-radius: 8px;
}

.parent-report-column {
    flex: 0 0 60%;
}

h2 {
    height: 48px;
    margin: 0;
    font-size: 1.2rem;
}

img {
    width: 100%;
}

.img-container {
    position: relative;
    width: 100%;
    padding: 0 0 56.25% 0;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 0 24px 0;
    background-color: var(--pure-black-100);
}

.img-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: contain;
}

.parent-report-details {
    padding: 24px;
    background-color: var(--dark-grey-100);
    border-radius: 8px;
}

.info {
    font-weight: 600;
    margin: 0 0 4px 0;
}

.info:last-child {
    margin: 0;
}

.info-value {
    font-weight: 400;
}

.comma::after {
    content: ', ';
}

.children-report-column {
    flex: 1;
}

.children-report {
    overflow-y: auto;
    height: calc(100% - 48px);
    padding: 0 16px 0 0;
}

.children-report::-webkit-scrollbar {
    width: 6px;
}

.children-report::-webkit-scrollbar-thumb {
    background: var(--grey-100);
    border-radius: 8px;
}

app-dialog-card {
    display: block;
    margin: 0 0 32px 0;
}

app-dialog-card:last-child {
    margin: 0;
}

.close-icon-wrapper {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 999999;
}

p {
    margin: 0;
}

@media screen and (max-width: 1600px) {
    .modal-content {
        width: 80%;
    }
}

@media screen and ( max-width: 1024px) {
    .modal-content {
        width: 100%;
        height: 100%;
    }

    .columns {
        padding: 24px;
        display: block;
        overflow-y: auto;
        box-sizing: border-box;
    }

    .parent-report-column {
        margin: 0 0 48px 0;
    }

    .children-report {
        overflow-y: hidden;
        height: auto;
        padding: 0;
    }
}